# IntelliJ
.idea/
*.iml

# Maven
target/

# Logs
*.log

# Build
*.class
*.jar

# OS
.DS_Store
Thumbs.db

# JMeter reports
performance/jmeter/report/

# bower
bower_components/

# screenshots
screenshots/
target/ui-dumps/

# generated reports
reports/
allure-results/
allure-report/

# JMeter
*.jtl

# Screenshots
*.png

# Local scripts
start-appium-server.bat
