<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Modis Mobile App Automation Suite" verbose="1" parallel="false" thread-count="1">

    <parameter name="platform" value="android"/>
    <parameter name="deviceName" value="Android Emulator"/>
    <parameter name="platformVersion" value="11.0"/>

    <listeners>
        <listener class-name="com.modis.listeners.TestListener"/>
    </listeners>

    <test name="Authentication">
        <groups>
            <run>
                <include name="authentication"/>
            </run>
        </groups>
        <classes>
            <class name="com.modis.tests.AuthenticationTests"/>
        </classes>
    </test>

    <test name="Friend Management">
        <groups>
            <run>
                <include name="friends"/>
            </run>
        </groups>
        <classes>
            <class name="com.modis.tests.FriendsTests"/>
        </classes>
    </test>

    <test name="Photo Sharing">
        <groups>
            <run>
                <include name="photo-sharing"/>
            </run>
        </groups>
        <classes>
            <class name="com.modis.tests.PhotoSharingTests"/>
        </classes>
    </test>

    <test name="Feed">
        <groups>
            <run>
                <include name="feed"/>
            </run>
        </groups>
        <classes>
            <class name="com.modis.tests.FeedTests"/>
        </classes>
    </test>

    <test name="Search">
        <groups>
            <run>
                <include name="search"/>
            </run>
        </groups>
        <classes>
            <class name="com.modis.tests.SearchTests"/>
        </classes>
    </test>

    <test name="Messaging">
        <groups>
            <run>
                <include name="messaging"/>
            </run>
        </groups>
        <classes>
            <class name="com.modis.tests.MessagingTests"/>
        </classes>
    </test>

</suite>
